package com.concept.crew.info;

import $Import;

public class ParentInfoWrapper {
	private $Root  data;
	private Long   pkeyId;
	
	public $Root get$Root(){
		return data;
	}
	public void set$Root($Root data) {
		this.data = data;
	}
	public Long getPkeyId() {
		return pkeyId;
	}
	public void setPkeyId(Long pkeyId) {
		this.pkeyId = pkeyId;
	}
	
}
